<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Challenges">
        <md-content class="md-padding">
          <h3 class="questionHeader">Question:</h3>
          <p class="lead"><strong>Is Unique:</strong> Implement an algorithm to determine if a string has all unique characters. What if you cannot use additional data structures?</p>
          <ace-editor></ace-editor>
        </md-content>
      </md-tab>
      <md-tab label="Review">
        <md-content class="md-padding">
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>

