<md-dialog aria-label="Register and Login">
  <!-- <form> -->
    <md-dialog-content style="max-width:800px;max-height:810px; min-width:600px">
      <md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom>
        <md-tab label="Register">
          <md-content class="md-padding">
            <h3 class="md-display-2">Welcome!</h1>
            <form name="register">
              <div layout layout-sm="column">
                <md-input-container flex>
                  <label>Username</label>
                  <input name="username" required ng-model="user.username">
                  <div ng-messages="register.username.$error">
                    <div ng-message="required">Username is required.</div>
                  </div>
                </md-input-container>
              </div>
              <div layout layout-sm="column">
                <md-input-container flex>
                  <label>Email</label>
                  <input name="email" required ng-model="user.email">
                  <div ng-messages="register.email.$error">
                    <div ng-message="required">Email is required.</div>
                  </div>
                </md-input-container>
              </div>
              <div layout layout-sm="column">
                <md-input-container flex>
                  <label>Password</label>
                  <input name="password" required type="password" ng-model="user.password" minlength="8">
                  <div ng-messages="register.password.$error" multiple>
                    <div ng-message="required">Password is required.</div>
                    <div ng-message="minlength">Your password must be at least 8 characters.</div>
                  </div>
                </md-input-container>
              </div>
              <div layout layout-sm="column">

              </div>
            </form>
          </md-content>
        </md-tab>
        <md-tab label="Login">
          <md-content class="md-padding">
            <h3 class="md-display-2">Welcome Back!</h1>
            <form name="login">
              <div layout layout-sm="column">
                <md-input-container flex>
                  <label>Username</label>
                  <input name="username" required ng-model="user.username">
                  <div ng-messages="register.username.$error">
                    <div ng-message="required">Username is required.</div>
                  </div>
                </md-input-container>
              </div>
              <div layout layout-sm="column">
                <md-input-container flex>
                  <label>Password</label>
                  <input name="password" required type="password" ng-model="user.password" minlength="8">
                  <div ng-messages="register.password.$error" multiple>
                    <div ng-message="required">Password is required.</div>
                  </div>
                </md-input-container>
              </div>
              <div layout layout-sm="column">

              </div>
            </form>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>
    <!-- <md-dialog-actions layout="row">
      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('not useful')" >
        Not Useful
      </md-button>
      <md-button ng-click="answer('useful')" style="margin-right:20px;" >
        Useful
      </md-button>
    </md-dialog-actions> -->
  <!-- </form> -->
</md-dialog>