* {
  margin: 0;
}

html {
  position: relative;
}

body {
  height: 100%;
  padding-bottom: 200px;
}

html, body {
  min-height: 100%;
}

.footer {
  background-color: #d6d6d6;
  padding-top: 15px;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.md-tab {
  float: none;
}