* {
  margin: 0;
}

html {
  position: relative;
}

body {
  height: 100%;
  padding-bottom: 200px;
}

html, body {
  min-height: 100%;
}

.ng-view {
  padding-bottom: 50px;
}

.footer {
  background-color: #d6d6d6;
  padding-top: 15px;
  text-align: center;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.questionHeader {
  font-weight: bolder;
}

.questionText {
  margin-top: -20px;
  margin-bottom: 30px;
  max-width: 600px;
  text-align: center;
}

.registerButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.md-tab {
  float: none;
}

#editor {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 900px;
  height: 400px;
}